/*
Blue: 22, 28, 250
Pink: 255, 0, 246
Purple: 150, 0, 255
Orange: 250, 135, 22
Yellow: 248, 255, 0
Green: 23, 208, 0
*/
body{
    background-color: rgb(22, 28, 250);
}
.background{
  /*background-image:url("SolderingIron.jpg");*/
  background-repeat:repeat;
  background-size: auto auto;
  position:relative;
  margin-top:63px;
  background-color: rgb(22, 28, 250);
  /*background-image: linear-gradient(to bottom, rgb(22, 28, 250) 30%, rgb(248, 255, 0))*/
}

.Banner{
  position: relative;
  width: 100%;

  height:auto;
  margin-top:-10px;
  margin-bottom: -15px;
  padding: 0 0px;
top:-15px;
overflow: hidden;
display: flex;
justify-content: center;
align-items: flex-start;
 }
.Banner img{
flex: none;
}
h2{
  background-color: white;
padding:20px;
display:table;
  color:rgb(22, 28, 250);
  margin:auto;
  /*border: 5px solid rgb(22, 28, 250);*/
  box-shadow: -10px 10px rgb(255, 0, 246);

}
.title{
  padding-top:115px;
  margin-top:-65px;
  margin-bottom: 150px;

}
.ad{
  position:relative;
  padding-bottom: 5px;

}
#contact {
  margin-bottom:50px;

}
.sep{
  width:100%;
  height:55px;
  background-color: rgb(22, 28, 250);
}
.first{

  position:relative;

  margin-top:0px;
  top:-65px;
  padding-bottom:50px;
  margin-bottom: 25px;

}
.nav {
    background-color:rgb(22, 28, 250);
    color:white;
  margin-top:-10px;
text-align: center;
position:absolute;
height:70px;
padding-top:10px;
padding-bottom:10px;
    width:100%;

z-index:10;
}

.fixed {
    position:fixed;
    top:0px;
    margin-top: 0px;
}
.background .container{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;

}
#tech{
  background-color: rgb(22, 28, 250);
  background-image:url("SolderingIron2.jpg");
  background-size: 30% auto;
  background-repeat: repeat;
  padding-top:0px;
  padding-bottom:50px;

}
#art{
  background-color: rgb(22, 28, 250);
  background-image:url("Artsy2.jpg");
background-size: 30% auto;
  padding-top:0px;
  padding-bottom:50px;

}
.main .tech{

margin-bottom:0px;

}

.main .row{


  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width:85%;

}
.portfolio-left {


  text-align: center;
  height: 300px;
  width: 300px;
  margin:auto;


transition: all 0.2s;

}
.portfolio-right {

  margin:auto;
  height: 300px;
  width: 300px;
text-align: center;


transition: all 0.2s;

}



.desc {
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(22, 28, 250);
  color: white;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  visibility: hidden;
  opacity: 0;
margin: auto;
  /* transition effect. not necessary*/
  transition: all 0.2s;
}



.top{
  margin-top:-87px;
}


.sec{

  margin-top:-100px;
}



.portfolio-right #img-holder {

  width: 290px;
  height: 290px;
  display: inline-block;
  text-align: center;
  position: relative;
  transition: all 0.2s;
  margin-top:5px;

   border-bottom-left-radius: 45px;
     overflow: hidden;
}
.portfolio-left #img-holder {

  width: 290px;
  height: 290px;
  display: inline-block;
  text-align: center;
  position: relative;
  transition: all 0.2s;
  margin-top:5px;
   border-top-right-radius: 45px;
  overflow: hidden;


}
.portfolio-right #border {

  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: top;
  box-shadow: -10px 10px rgb(255, 0, 246);
   transition: all 0.2s;
   background-color: rgb(22, 28, 250);
   border-bottom-left-radius: 50px;
     overflow: hidden;
}
.portfolio-left #border {

  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: -10px 10px rgb(255, 0, 246);
   transition: all 0.2s;
vertical-align: top;
   border-top-right-radius: 50px;
   overflow: hidden;
    background-color: rgb(22, 28, 250);

}
/*.img-holder:before {
    position:absolute; left:-1px; top:-1px; content:'';
    border-top: 70px solid rgb(22, 28, 250);
    border-right: 70px solid transparent;
}

.img-holder:after {
    position:absolute; left:-2px; top:-2px; content:'';
    border-top: 70px solid rgb(22, 28, 250);
    border-right: 70px solid transparent;
}*/

#img-holder img {

  position: relative;
  display: block;


  top:-50px ;
  right:100px;

}



#border:hover  #img-holder{

  width:315px;
  height:315px;

}
#border:hover{

  width:325px;
  height:325px;
  margin-top:-12.5px;
  margin-left:-12.5px;

}


.portfolio-left:hover{

  width:325px;
  height:325px;

}
.portfolio-right:hover{

  width:325px;
  height:325px;

}
#border:hover .desc{
  visibility: visible;
  opacity: 1;

}

.strip{
  position:relative;
  height:500px;
  top:-100px ;
  left:-25px;
}
.novelty{
  position:relative;
  height:700px;
  top:200px;
  left:-30px;
}
.TB{
  position:relative;
  height:400px;
  top:100px;
  left:-50px;

}
.banpic{
  position:relative;
  height:400px;
  top:100px;
  left:-250px;
}
.bilpic{
  position:relative;
  height:400px;
  top:100px;
  left:-250px;
}
.about{
position:relative;
/* background-image:url("About3.gif");
background-repeat: no-repeat;
background-size: 100% auto; */
padding-top: 70px;
margin-bottom: -200px;
padding-bottom: 195px;
color:rgb(255, 0, 246);

/*Pink: 255, 0, 246
Purple: 150, 0, 255*/

width: 100%;
max-width:100%;
  overflow: hidden;
}
.about img{
  position:absolute;

}
#about{
margin-top: -10px;
padding-top:10px;


}
.about .sec{
  position:relative;
  top:50px;
}

.bout{
margin-top:-45px;
margin-bottom:0px

}
.me{

margin-top: 90px;

margin-left: 0px;
color:rgb(22, 28, 250);
}
.me p{
  background-color: white;
  padding: 15px;
  margin-right:22px;
  display: inline-flex;

  /*border: 5px solid rgb(22, 28, 250);*/
  box-shadow: -5px 5px rgb(255, 0, 246);
}
.contact{
position:relative;

/* background-image: url("contact.gif");
background-size: 100% auto;
background-repeat: no-repeat; */
height:578px;
overflow: hidden;
}
.contact img{
  position: absolute;
  min-width:1500px;
}
.contact .row{

padding-top:160px;

}
.links{
text-align: center;
margin-left:-100px;
margin-right:-100px;
}
.linksholder{
  background-color: white;
  padding:20px;
  display:inline-block;
  margin-left:-100px;
  margin-right:-100px;
  /*border: 5px solid rgb(22, 28, 250);*/
  box-shadow: -10px 10px rgb(255, 0, 246);

}
.linksholder .big{
  z-index: 30;
}
.fav1{
padding:10px;

}
.cp{
background-color: rgb(22, 28, 250);
  color:white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;
}
#end{
  position: relative;
  background-color: rgb(22, 28, 250);
  width:100%;

}


 .big{
  position:relative;
  transition: all 0.2s;
  display: inline-block;
  z-index: 100;


}

 .nav .big{
    text-shadow: -2px 2px rgb(150, 0, 255);
    top:-35px;
}
/*.nav .big:before{
  content: "";
      position: absolute;

      width: 30px;
      height: 1px;
      bottom: 0;
      left: -10px;
      border-bottom: 10px solid rgb(255, 0, 246);
      z-index:-100;
      box-shadow: -2px 2px rgb(150, 0, 255);
} */
.big:hover{
  transform:scale(1.1);
}
.icon-letterboxd:hover{
    transform:scale(1.1);
}
.y{
  float:right;
}
.me{
position:relative;
display:inline-block;
right:-35%;
margin-right: 25px;

}
ul{

  position:relative;
  right:32px;
  top:0px;

}
ul i{
  padding-left:15px;
}
li{
  margin-bottom: 20px;
  display:inline-flex;
  background-color: white;
  padding: 15px;
  padding-left:0px;
padding-right:30px;
padding-bottom:5px;
margin-right:-7px;
width:95%;
  box-shadow: -5px 5px rgb(255, 0, 246);
}
 li span{
position: relative;

  left:15px;
  top:-5px;
}
.fa-exclamation{
position: relative;
  left:5px;

}
#three{
  position: relative;
    left:17px;

}
hr{
  position:relative;
  top:-15px;
 margin: 0;

}


.main hr, .contact hr{
  border-color: rgb(255, 0, 246);
  width:100px;
position: relative;
top:-30px;
margin-left: auto;
margin-right: auto;
}
.propic{
position: relative;
top:0px;
left:-150px;
}
.arrow-down {
  width: 0px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;


  border-top: 10px solid rgb(150, 0, 255);;
  z-index: 30;
  margin-left: 95%;

  position: relative;
  top:-45px;
  margin-bottom: -15px;
}
.hrdesc{
  border-color: rgb(150, 0, 255);
  width:5px;
position: relative;
padding-top: 5px;

margin-left: auto;
margin-right: auto;
margin-bottom: -35px;
}
.desc p{
  padding-bottom: 5px;
}
@media (max-width:600px){
.about img{
  left:-350px;
}

}
@media (max-width:1510px){
.main .row {width:88%;}
}
@media (max-width:1470px){
.main .row {width:90%;}
}
@media (max-width:1430px){
.main .row {width:93%;}
}
@media (max-width:1400px){
.main .row {width:95%;}
}
@media (max-width:1360px){

  .main  .three.columns{
    width:50%;
    margin-left:auto;
    margin-right:auto;

    display: inline-flex;

  }
  #ad{width:100%;}
  .main .row{
    padding-top: 0px;

    margin-left: auto;
    margin-right:auto;

  }
  #tech, #art{
    padding-top:50px;
    padding-bottom: 0px;
  }
  .portfolio-right, .portfolio-left{
    box-sizing: border-box;
    left:0px;
    right:0px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right:auto;

  }
.main .three.columns:nth-child(3){
  clear: left;
}
  .portfolio-right{

  margin-right: 25px;
  }
  .portfolio-left{
  margin-left: 25px;

  }

}
@media(max-width:350px){
  .main .row{width:100%;}


}

@media (max-width:800px){
  .tech .three.columns{
    width:100%;
    margin-left:auto;
    margin-right:auto;
  }
  .portfolio-right{
    margin-left: auto;
      margin-right: auto;

  }
  .portfolio-left{
  margin-left: auto;
    margin-right: auto;

  }
}
@media(max-width:600px){
  .contact{

    max-height:590px;
  }
  .contact .row{
    top:-190px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

  }
  .contact img{
    left:-70px;
    min-width:1000px;
  }
  .desc{

    visibility: visible;
    opacity:1;
    top:225px;
  }


}

@media (max-width:1050px){
  .nav{
    padding-top:0px;
    height:auto;
    margin-bottom: 0;
  }
  .nav .big{
    top:0px;
  }
  .nav h3{

    margin-bottom: 0px;
    margin-top: 0;
    padding:0;
    font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;
  }

.portfolio-right, .portfolio-left{

  left:0px;
  right:0px;
    margin-bottom: 50px;

}


.offset-by-six{
  margin:0;
}
.six.columns                    { width: 100%;    margin-left:auto; margin-right:auto;     }
.y{
  display: inline-block;
width:100%;
  margin-top:50px;
position:relative;
left:0;
right:0;
margin:auto;
padding-left: auto;
padding-right: auto;
text-align: center;
margin-top:60px;
margin-bottom:15px;
}

.profile{
  position: relative;
  right:0;
  left:0;
}
.about{
  padding-bottom: 590px;
  margin-left: auto;
  margin-right: auto;
}
.me{
  width:80%;
  left:0px;
  right:0px;
  margin-left:auto;
  margin-right:auto;
  padding-left: 15px;
  padding-right: 15px;

text-align: center;
top:450px;

}
.me p{
  position: relative;
  left:-15px;

  margin-left: auto;
  margin-right: auto;

  justify-content: center;
text-align: left;
width:100%;
}
.me ul{

left:-15px;
margin-left: auto;
margin-right: auto;

text-align: left;
width:100%;
}
.me li{
width:100%;
}
.sec h3 {
  padding-top: 50px;
}
.arrow-down{
  visibility: hidden;
}
.contact{
  height:778px;
}
.contact .row{
  margin-top:475px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.offset-by-nine{
  margin-left: 0;
}
}

}
