


.row.comic{
  margin-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}
.nav {
    background-color:rgb(22, 28, 250);
    color:white;
    position:fixed;
    top:0px;
    margin-top: 0px;
text-align: center;
height:70px;
padding-top:10px;
padding-bottom:10px;
    width:100%;
z-index:10;
}
.big {
 position:relative;
 transition: all 0.2s;
 display: inline-block;
 z-index: 100;
 margin-bottom: 20px;

 text-align:left;
 color:white;
font-size: 4.2rem;
line-height: 1.25;
 letter-spacing: -.1rem;
  font-weight: 300;
}

.nav .big{
   text-shadow: -2px 2px rgb(150, 0, 255);

}

.comic p{

  text-align:left;

  margin-bottom: 8px;
}

body{
  background-color: rgb(22, 28, 250);
  background-image:url("Artsy1.jpg");
  background-size: 30% auto;
}
.about{

  margin-top:110px;
  text-align: left;

  color:rgb(22, 28, 250);
  display: inline-block;
  width: 80%;
  max-width:80%;
  margin-left: 10%;
  margin-right: 10%;

}
.about h3{
  color:rgb(22, 28, 250);
  background-color:white;
  padding:25px;
  background-color: white;
  box-shadow: -10px 10px rgb(255, 0, 246);
  display: inline-block;

}
.row{
  background-color: white;
  box-shadow: -10px 10px rgb(255, 0, 246);
  display: inline-block;
  padding:25px;
  padding-bottom: 0px;
}
.comic{
  padding-top: 80px;
  padding-bottom:100px;
  padding-left: auto;
  padding-right: auto;
text-align: center;
overflow: hidden;
}
.cp{
background-color: rgb(22, 28, 250);
  color:white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 10px;

}

#end{

  background-color: rgb(22, 28, 250);
  width:100%;
z-index:11;
}
h3{
  text-align: left;
  color:white;
  margin-bottom:20px;

}

h4{

  padding:0px;
padding-bottom: 15px;
  margin:0px;
}

.comic h4{
  text-align: left;
}
ul{
  text-align: left;
}
li{
  padding-left: 50px;
}
.about a, .about a:link, .about a:visited{
color:rgb(22, 28, 250);
text-align: left;
}
.big{

  transition: all 0.2s;
  display: inline-block;

}
.big:hover{
  transform:scale(1.1);
}
.fav1{
padding:10px;
color:rgb(22, 28, 250);
}
.pic1{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(22, 28, 250);
}
.pic{
  height:500px;


}
.code{
background-color: rgb(220, 220, 220);
  text-align: left;

  height:500px;
  width:100%;
  overflow:scroll;
}
.pic2{
  height:500px;
display:block;
margin-left:auto;
margin-right:auto;

}
.columns{
  overflow: hidden;
}
.sec{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  width:80%;
  margin: auto;
}
.sec1{

  display: inline-block;
}
.sec p{
  margin-top: -10px;
  padding-bottom: 0px;
}
.bout p{
  text-align: left;
}
.me p{

  padding-top: 5px;
}
@media (max-width:1050px){
  .nav{
    height:auto;

  }

.columns{
  width:100%;
  margin-left:auto;
  margin-right: auto;
}
.sec{
  width:80%;

}
.about{
  position:relative;
  margin-top:
}

.big{
  font-size: 1.5rem;
  margin-bottom: 0px;
  top:0;
  margin-top: 0;
}
.row.comic{
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom:25px;
}
  }

}



/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 0;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(22, 28, 250);

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding-top: 50px;
    padding-bottom: 50px;
  width: 80%;
  max-width: 1200px;
  background-color: white;
  box-shadow: -10px 10px rgb(255, 0, 246);

}





/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
top:50%;
  width: auto;
opacity:1.0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left:20px;
  padding-right: 20px;
  margin-top: -50px;
  color:white;
  background-color: rgb(22, 28, 250);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;


}

/* Position the "next button" to the right */
.next {
  right: -50px;
  border-radius: 3px 0 0 3px;


}
.prev{

  left:-50px;


}

/* On hover, add a rgb(22, 28, 250) background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(22, 28, 250, 0.8);
  opacity: 1.0;
  color: white;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(22, 28, 250);
  font-size: 1.5em;
  padding: 8px 12px;
  position: relative;

  top: 0;
}
.title {
  color: rgb(22, 28, 250);
  font-size: 1.5em;

  padding: 8px 25px;
  position: relative;
  margin-bottom: 50px;
  top: 0;
}
.title a {
  color: rgb(22, 28, 250);

}
/* Caption text */
.caption-container {
  text-align: center;
  background-color: rgb(22, 28, 250);
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.modal a:hover, .modal a:active{
  color:rgb(22, 28, 250);
  text-decoration: none;

}
